.root {
  margin-right: 5px;
  height: calc(100vh - 155px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  /* padding-right: 10px; */
  & > :first-child {
    margin-top: auto !important;
  }
  &.reply {
    height: calc(100vh - 207px);
  }
  &.pin {
    height: calc(100vh - 205px);
    margin-top: 50px;
    &.search {
      height: calc(100vh - 130px);
    }
    &.reply {
      height: calc(100vh - 257px);
    }
  }
  &.search {
    & > :first-child {
      margin-top: 0px !important;
    }
  }
}

.hidden {
  display: none;
}
