$defaultMargin: 15px;
$mainColor: #202225;
$secondColor: #232529;
$popoverColor: rgba(142, 146, 151, 0.3);
$sidebarFontSize: 16px;
$additionalHeaderColor: #8e9297;
$additionalHeaderHEX: rgba(142, 146, 151, 0.3);
$hoverSidebarChannel: rgba(121, 128, 134, 0.3);
$activeSidebarChannel: rgba(121, 128, 134, 1);
$inputColor: rgba(255, 255, 255, 0.1);
$disabledColor: rgba(255, 255, 255, 0.1);
$mainButtonColor: #519872;
/* $mainColor: #121212;
$secondColor: #121212; */
