.modal {
  position: relative;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(142, 146, 151, 0.6);
}
