.root {
  padding: 0;
  border: none;
  border-radius: 5px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  &:hover {
    background-color: rgba(121, 128, 134, 0.3);
  }
  text-align: left;
  padding-left: 10px;
  &.im {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
}
